.a-button {
    background: url("http://img.alipay.net/ea/frame/v1/icon-fun.png") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    height: 20px;
    overflow: hidden;
    text-indent: 0;
}
.a-button span {
    background: url("http://img.alipay.net/ea/frame/v1/icon-fun.png") no-repeat scroll 5px -9999px transparent;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 1px;
    padding: 3px 7px;
    text-indent: 0;
    vertical-align: baseline;
}
.a-button:hover span {
    color: #333333;
    text-decoration: underline;
}

.a-act {
    background: url("http://img.alipay.net/ea/frame/v1/btn-form.png") no-repeat scroll 0 -455px transparent;
    border: 0 none;
    height: 28px;
    margin-bottom: 5px;
    padding: 0 0 0 2px;
}
.a-act span {
    background: url("http://img.alipay.net/ea/frame/v1/btn-form.png") no-repeat scroll right -403px transparent;
    border: 0 none;
    color: #525252;
    font-weight: bold;
    height: 29px;
    padding: 6px 18px 0 15px;
}
.a-act:hover {
    background-position: 0 -562px;
    text-decoration: none;
}
.a-act:hover span {
    background-position: right -510px;
    color: #FFFFFF;
    text-decoration: none;
}

span.b-form input, span.b-form button {
    background: url("http://img.alipay.net/ea/frame/v1/btn-form.png") no-repeat scroll right 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    padding: 0 20px 0 16px;
    width: auto;
}
span.b-form {
    background: url("http://img.alipay.net/ea/frame/v1/btn-form.png") no-repeat scroll 0 -68px transparent;
    padding-left: 4px;
}
span.b-assistant {
    background-position: 0 -204px;
}
span.b-assistant input, span.b-assistant button {
    background-position: right -136px;
    color: #080808;
}

.search input.btn {
    background: url("http://img.alipay.net/ea/skin/default/searchButton.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #996633;
    height: 22px;
    width: 60px;
}

.a-download {
    background: url("https://img.alipay.com/ea/frame/v1/icon-fun.png") no-repeat scroll 5px -35px transparent;
    line-height: 23px;
    padding-left: 18px;
    padding-right: 5px;
    text-indent: 0;
}
input.a-ok {
    background: url("http://img.alipay.net/ea/frame/v1/icon-fun.png") no-repeat scroll 5px -585px transparent;
    border: 1px solid #999999;
    height: 22px;
    line-height: 22px;
    padding-left: 17px;
    vertical-align: middle;
    width: 53px;
}
.a-ok span {
    background-position: 5px -585px;
    padding-left: 20px;
}

.a-edit span {
    background-position: 5px -115px;
    padding-left: 20px;
}

.a-add span {
    background-position: 5px -75px;
    padding-left: 20px;
}