.tb-data table {
    background: url("http://img.alipay.net/ea/frame/v1/bg-table.png") repeat-x scroll 0 0 transparent;
    width: 100%;
}
.tb-data tr {
    background: none repeat scroll 0 0 #FFFFFF;
}
.tb-data thead tr {
    background: url("http://img.alipay.net/ea/frame/v1/bg-table.png") repeat-x scroll 0 0 transparent;
}
.tb-data th, .tb-data td {
    height: 29px;
    padding: 0 8px;
}
.tb-data th {
    background: url("http://img.alipay.net/ea/frame/v1/bg-table.png") no-repeat scroll 0 -92px transparent;
    height: 38px;
}
.tb-data td {
    border-bottom: 1px dotted #B7B7B7;
}