.func {
    width: 171px;
}
.func h3 a {
    background: url("http://img.alipay.net/ea/frame/v1/bg-function.png") no-repeat scroll 0 -30px transparent;
    color: #333333;
    display: block;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    padding-left: 24px;
    width: 147px;
}
.func h3 a:hover {
    background-position: 0 -90px;
    color: #333333;
}
.func h3 .switch {
    background: url("http://img.alipay.net/ea/frame/v1/bg-function.png") no-repeat scroll -24px 0 transparent;
    display: block;
    float: right;
    height: 11px;
    margin: 9px 6px 0 0;
    width: 11px;
}
.func .func-body {
    background: url("http://img.alipay.net/ea/frame/v1/bg-function.png") repeat-x scroll 0 -478px #EBEBEB;
    border: 1px solid #8DA5B7;
    margin-top: -1px;
    overflow: hidden;
}
.func li a {
    background: url("http://img.alipay.net/ea/frame/v1/bg-function.png") no-repeat scroll 0 100px transparent;
    color: #00589F;
    display: block;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    width: 100%;
}
.func li a span {
    background: url("http://img.alipay.net/ea/frame/v1/bg-function.png") no-repeat scroll 0 -386px transparent;
    display: block;
    margin: 0 6px 0 13px;
    padding: 0 10px;
    width: 132px;
}
.func li a:hover {
    background-position: 0 -210px;
    color: #00589F;
}
.func li.current a, .func li.current a:hover {
    background-position: 0 -270px;
    color: #FFCCFF;
}
.func li.current a span {
    background-position: left -433px;
}
.func-text {
    margin-bottom: 2px;
}
.func-text h3 a {
    cursor: default;
}
.func-text h3 a:hover {
    background-position: 0 -30px;
    color: #333333;
}
.func-text .func-body {
    line-height: 150%;
    padding: 10px 12px 10px 24px;
}
.func-hide h3 .switch {
    background-position: 0 0;
}
.func-current {
    margin-bottom: 2px;
}
.func-current h3 a {
    background-position: 0 -30px;
    color: #333333;
}
.func-current .func-body {
    background: url("http://img.alipay.net/ea/frame/v1/bg-function.png") repeat-x scroll 0 -478px #EBEBEB;
    border-color: #8DA5B7;
}
.func-current li a {
    color: #330033;
}
.func .m-tel {
    margin: 0 0 0 -14px;
}