#head-main {
	margin: 20px 0;
}
#head-nav {
	background: url("http://img.alipay.net/ea/frame/v1/bg-nav.png") no-repeat scroll 0 0 transparent;
	height: 45px;
	padding-left: 4px;
}
#head-nav .nav-container {
    background: url("http://img.alipay.net/ea/frame/v1/bg-nav.png") no-repeat scroll right -180px transparent;
    height: 45px;
    padding-right: 4px;
}
#head-nav ul {
    background: url("http://img.alipay.net/ea/frame/v1/bg-nav.png") repeat-x scroll 0 -90px transparent;
    height: 45px;
    padding-left: 30px;
}
#head-nav li {
    background: url("http://img.alipay.net/ea/frame/v1/bg-nav.png") no-repeat scroll 0 -270px transparent;
    float: left;
    height: 45px;
    padding-left: 2px;
    position: relative;
    width: 141px;
}
#head-nav li.first {
    background: none repeat scroll 0 0 transparent;
}
#head-nav li a {
    color: #660000;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    text-align: center;
    width: 141px;
}
#head-nav li a em {
    display: block;
    height: 45px;
    line-height: 45px;
}
#head-nav li a:hover {
    background: url("http://img.alipay.net/ea/frame/v1/bg-nav.png") no-repeat scroll center -360px transparent;
    color: #FFFFCC;
	
}
#head-nav li.current a, #head-nav li.current a:hover {
    background: url("http://img.alipay.net/ea/frame/v1/bg-nav.png") no-repeat scroll center -450px transparent;
    color: #FFCCFF;
    height: 57px;
    position: absolute;
    top: -8px;
    z-index: 10;
}
#head-nav li.current a em {
    line-height: 25px;
    position: relative;
    top: 13px;
}
#head-nav li a.nav-fund em {
    background-position: 0 -540px;
}
#head-nav li a.nav-home em {
    background-position: 0 -540px;
}