.ui-table {
    border-color: #D7D7D7;
    border-style: solid;
    border-width: 0 1px 1px 0;
    font-size: 12px;
    margin: 5px 0 0;
}
.ui-table th {
    background: url("http://img.alipay.net/ea/frame/v1/bg-table.png") repeat-x scroll 0 -200px #E5E5E5;
}
.ui-table td, .ui-table th, .ui-table-list td {
    border-color: #D7D7D7;
    border-style: solid;
    border-width: 1px 0 0 1px;
    line-height: 20px;
    padding: 6px 10px;
}
.ui-table caption .a-button, .ui-table-list caption .a-icon-text {
    float: right;
    font-weight: normal;
}
.ui-table thead th {
}
.ui-table tbody th {
}
.ui-table-list {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D7D7D7;
    border-style: solid;
    border-width: 0 1px 1px 0;
    font-size: 12px;
    margin: 5px 0 0;
}
.ui-table-list table {
    width: 100%;
}
.ui-table-list tr {
    background: none repeat scroll 0 0 #FFFFFF;
}
.ui-table-list tr.required {
    background: none repeat scroll 0 0 #8DA5B7;
    color: #FFFFFF;
}
.ui-table-list tbody tr.hover {
    background: none repeat scroll 0 0 #FFF5E1;
}