.tab-menu {
    height: 36px;
}
.tab-menu li {
    display: inline;
}
.tab-menu li a {
    background: url("http://img.alipay.net/ea/frame/v1/btn-tab.png") no-repeat scroll right -66px transparent;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    margin-right: 1px;
    margin-top: 2px;
    padding-right: 5px;
}
.tab-menu li a span {
    background: url("http://img.alipay.net/ea/frame/v1/btn-tab.png") no-repeat scroll 0 0 transparent;
    float: left;
    padding: 0 16px 0 21px;
}
.tab-menu li a:hover {
    background-position: right -198px;
    color: #FFFFFF;
}
.tab-menu li a:hover span {
    background-position: 0 -132px;
}
.tab-menu li.current a, .tab-menu li.current a:hover {
    background-position: right -339px;
    font-weight: bolder;
    height: 36px;
    line-height: 36px;
    margin-top: 0;
}
.tab-menu li.current a span, .tab-menu li.current a:hover span {
    background-position: 0 -267px;
}
.tab-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #2D3D4D;
}
