/**
 * @name: ui-footer
 * @author: 天孝(chentao.yuan@alipay.com)
 * @description: 底部样式
 * @require: null
*/
.ui-footer {
    border-top: 1px solid #CCCCCC;
    height: 100px;
    background-color:#F5F5F5;
}

.ui-footer-copyright .server {
    color:#f5f5f5;
}

.ui-footer-copyright {
    text-align:center;
    background-color:#f5f5f5;
}

/** 产品自定义尾 */

.ui-productfooter {
    border-top:1px solid #ccc;
}

.ui-productfooter-ctn {
    border-top:1px solid #fff;
    background-color:#f5f5f5;
    text-align:center;
    padding:5px 0;
}
.ui-productfooter .ui-footer {
    margin-top:0;
    border-top:none;
}
 .ui-productfooter .ui-footer-ctn {
    border-top:none;
 }

 /** 首页尾样式 */
.ui-footermain {
    background-color:#F7F7F7;
}

.site-links{text-align:center; border-top:1px solid #D9D9D9; padding-top:15px; margin-bottom:15px}
.site-links .first{border:none}
.site-links li{display:inline; color:#BBB}

.alibaba-links span{display:block; height:26px; line-height:26px}
.alibaba-links a, .alibaba-links span{color:#999}
.alibaba-links{text-align:center; color:#CCC}
.alibaba-links{text-align:center; color:#CCC; margin-bottom:10px}

.security-links li{display:inline; float:left;}
.security-links{text-align:center; padding-bottom:30px; margin:0 auto;width:608px;}
.security-links a{height:35px; display:block; text-indent:-9999em; background:url("https://i.alipayobjects.com/e/201202/2XSZoo2M8p.png") no-repeat 0 0; margin-right:12px; position:relative;overflow:hidden;}
.security-links .verisign{width:82px}
.security-links .zjswm{background-position:-186px 0; width:35px}
.security-links .wlgs{background-position:-227px 0; width:29px}
.security-links .ppaa{background-position:-265px 0; width:33px}
.security-links .hzdtgt{background-position:-303px 0; width:30px}
.security-links .anfang{background-position:-342px 0; width:40px}

.security-links  .newIcon,.pci-vertify span{background:url("https://i.alipayobjects.com/e/201202/2XSZoo2M8p.png") no-repeat;}
.security-links li a.zfxkz{width:48px;height:35px;}
.security-links .visa{width:57px;height:35px;background-position:-60px top;cursor:auto;}
.security-links .visa span{display:block;width:57px;height:35px;text-indent:-9999px;}
.security-links li a.versign{background-position:-120px top;width:64px;height:35px;}
.security-links .pci-vertify a{display:block;width:76px;height:35px;background-position:-382px top;cursor:pointer;text-indent:-9999px;}
.security-links .szfw-renzheng{background-position:-461px 0; width:96px;margin-right:0;}



